# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# node files
/node_modules

# Soldeer dependencies
/dependencies

# claude
.claude/settings.local.json

CLAUDE.local.md
